body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #ece0e0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ece0e0;
}

.card {
  background: #e9ecef;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 5px #ece0e0;
}

.card h2 {
  margin-top: 0;
}

.card img {
  width: 500px; /* Atur lebar gambar */
  height: 250px; /* Atur tinggi gambar agar menjadi segi panjang */
  object-fit: cover; /* Memastikan gambar tetap proporsional dan terpotong jika perlu */
  border-radius: 8px; /* Menambahkan sudut melengkung pada gambar */
  display: block; /* Menghilangkan spasi di bawah gambar */
  margin: 0 auto; /* Memusatkan gambar */
}

.card button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #ece0e0;
  color: #424242;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #e3cbcb;
}

.sumber {
  text-align: center; /* Mengatur teks menjadi rata tengah */
  font-size: 0.9em; /* Ukuran font lebih kecil */
  color: #555; /* Warna teks sumber */
  margin-top: 5px; /* Jarak atas dari gambar */
}